[% IF (!without_wrapper && !NO_TITLE)%]<div class="page-header bg-dark">
	<h3>Adicionar novo endereço</h3>
</div>[%ELSE%]
    [%IF error_msg %]
        <div class="row page-content">
            <div class="alert alert-error"><p>[%error_msg%]</p></div>
        </div>
    [%END%]
    [%IF status_msg %]
        <div class="alert"><p>[%status_msg%]</p></div>
    [%END%]
[%END%]
[%INCLUDE 'user/dashboard/parts/new_address.tt'%]
