/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 40px;
	font-family: 'PT Sans', sans-serif;
}

h2{
	font-family: "Cabin";
}

a, a:visited{
	color: #3d3934;
}

a:hover{
	color: #000000;
	text-decoration: none;
}

.navbar{
	height: 60px;
	margin-bottom: 0px;
}

.navbar-brand{
	padding: 10px;
}


.navbar-nav>li>a.btn-logout,.navbar-nav>li>a.btn-logout:visited{
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
	color: #fff;
}

/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	position: relative;
}
.sidebar ul li a{
	color: #ffffff;
	border-bottom: 1px solid #716d67;
	border-top: 1px solid #3e3a34;
}
.sidebar ul li a:hover{
	background-color: #524a40;
	color: #face53;
}
.navbar-inverse{
	background-color: #3d3934;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #face53 !important;
    background-color: #68625b !important;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 41px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #4d4841;
		border-right: 1px solid #eee;
	}
}
@media (max-width: 767px) {
	.sidebar {width: 100%;
float:none;}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}


/*
 * Main content
 */

.main {
	padding: 20px;
	
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.bs-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
}

.table-striped{
	border-top: 1px dotted #c6c2c0;
	border-collapse: inherit;
	padding-top: 4px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #ffffff;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    background-color: #e7e6e5;
    border-top: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}
.table > thead > tr > th {
    border-bottom: none;
    background-color: #fef5dd;
}
.logo-footer-admin{
	padding: 2px 4px;
}