/*! jqx-media-slider 2014-12-13 */
/* Constants */
/* Mixins */
.jqx-media-slider {
  min-width: 40px;
  /* slider right and left buttons */
  position: relative;
  /* slider right and left button */
  /* moving box holder*/
  /* moving container */
  /* item container */
  /* css triangles */
  /* common styles */
  /* default image rendrer class*/
}
.jqx-media-slider .jqx-btn {
  top: 0px;
  z-index: 2;
  height: 100%;
  opacity: .45;
  cursor: pointer;
  width: 20px;
  background-color: #e6e6e6;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.jqx-media-slider .jqx-btn:hover {
  opacity: .9;
}
.jqx-media-slider .jqx-btn.disable {
  cursor: auto;
  opacity: .1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.jqx-media-slider .jqx-btn.disable:hover {
  opacity: .1;
}
.jqx-media-slider .jqx-btn-right {
  right: 0px;
}
.jqx-media-slider .jqx-btn-right.hide {
  display: none;
}
.jqx-media-slider .jqx-btn-left {
  left: 0px;
}
.jqx-media-slider .jqx-btn-left.hide {
  display: none;
}
.jqx-media-slider .jqx-moving-box-holder {
  top: 0px;
  left: 0px;
  overflow: hidden;
  margin: 0px 20px;
}
.jqx-media-slider .jqx-moving-box-holder.no-margin {
  margin: 0;
}
.jqx-media-slider .jqx-moving-box {
  left: 0px;
  /* initial position */
  white-space: nowrap;
  line-height: 0px;
  -webkit-transition: left 0.6s;
  -moz-transition: left 0.6s;
  -o-transition: left 0.6s;
  transition: left 0.6s;
}
.jqx-media-slider .jqx-item-box {
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  line-height: normal;
  margin-right: 3px;
  white-space: normal;
  vertical-align: top;
  display: inline-block;
}
.jqx-media-slider .jqx-triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 12px solid #000000;
  border-bottom: 10px solid transparent;
}
.jqx-media-slider .jqx-triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 12px solid #000000;
  border-bottom: 10px solid transparent;
}
.jqx-media-slider .jqx-absolute {
  position: absolute;
}
.jqx-media-slider .jqx-relative {
  position: relative;
}
.jqx-media-slider .jqx-in-middle {
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.jqx-media-slider .jqx-dr-image {
  opacity: .85;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.jqx-media-slider .jqx-dr-image:hover {
  opacity: 1;
}
