body {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
	margin-top: 108px;
}

html {
    width: 100%;
    height: 100%;
}

a:hover{
	text-decoration: none;
}

h2{
    font-family: 'PT Sans', sans-serif;
	padding-bottom: 20px;
}

.nopadding{
	padding: 0;
}

.box{
	border-style: groove;
}
.menu-top {
	top: 0;
	position: fixed;
	left: 0;
	right: 0;
	background-color: #6FA7E0;
	z-index: 1030;
  height: 108px;
}

.menu-top .menu{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 34px;
}
.menu-top .menu li{
	display: inline-block;
	padding: 10px 15px;
}
.menu-top .menu li a{
	color: #fff;
	font-size: 0.9em;
	font-weight: bold;
  height: 30px;
  position: relative;
  padding: 6px 5px;
}
.menu-top .menu li a:hover{
	color: #face53;
}


.menu-top .menu-social{
	float: right;
  margin-top: 41px;
}

.menu-top .menu-social a i{
  border: none!important;
  font-size: 1.9em;
}

.menu-top .menu-social li{
	padding: 0;
}

.menu-social li.facebook a{
	background-position: -36px 0px;
}

.menu-top .menu{
	display: inline-block;
}

.nav-top{
	background-color: #4d4841;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
}

.nav-top img{
	padding: 7px 10px;
}

.nav-top button{
	color: #fff;
	border-color: #fff;
}

.nav-top .navbar-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-top .navbar-menu li{
	padding: 10px 15px;
	text-transform: uppercase;
}
.nav-top .navbar-menu li a{
	color: #fff;
	font-size: 0.9em;
	font-weight: bold;
}
.nav-top .navbar-menu li a:hover{
	color: #face53;
}

.logo-top img{
	margin: 0 auto;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.signup .container,
.home .container,
.about .container,
.contact .container,
.faq .container{
	padding: 50px 0;
}

.signup{
	background-color: #666056;
	color: #fff;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.signup button{
	margin: 20px auto;
}

section h2{
	font-family: "Cabin";
	text-transform: uppercase;
}
section p{
	text-align: left;
}

.signup h2{
	font-family: "Cabin Sketch";
}

.signup form,
.contact form{
	text-align: left;
}
.signup .button{
	text-align: center;
}
.home{
	background-color: #666056;
	color: #fff;
	background-image: url("images/header_full.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
}

.home h2{
	font-family: "Cabin Sketch";
}


.about{
	background-color: #fcf0cc;
	color: #666056;
	font-size: 18px;
}

.about h2{
	color: #666056;
}

.about .about-logos{
	text-align: center;
	font-size: 0.7em;
	color: #ccc082;
}
.about .about-logos img{
	margin: 20px 50px;
}

ul.faq{
	list-style: none;
}
ul.faq li{
	text-align: left;
	margin-bottom: 20px;
}
ul.faq li glyphicon,
ul.faq li .q{
	color: #8cc63f;
}
ul.faq li .q{
	font-size: 1.2em;
	font-weight: bold;
}
ul.faq li .a{
	padding-left: 22px;
}

.contact{
	background-color: #666056;
	color: #fff;
}

.contact h2{
	color: #face53;
}

.contact .info{
	font-size: 1.2em;
	margin-top: 30px;
}
.contact .info img{
	margin: 0 10px;
}

footer .aware{
	margin-top: 105px;
	color: #a59c8e;
}
footer .aware a,
footer .aware a:visited{
	color: #fff;
}
footer .aware a:hover{
	color: #f0f0f0;
}

footer{
	background-color: #666056;
}
footer .logo-footer img{
	margin-top: 20px;
}

#launchModal .modal-title,
#launchModal .modal-body h2{
	font-family: "Cabin Sketch";
}

#launchModal .modal-body a{
	color: #f0ad4e;
}
#launchModal .modal-body{
	background-color: #666056;
	color: #ffffff;
	font-size: 2em;
}
#launchModal .modal-footer{
	margin-top: 0;
}

@media (min-width: 768px){
}
@media(max-width:979px) {
}
@media(max-width:1199px) {
	.menu-top .menu li{
		padding: 10px 5px;
	}
	.menu-top .menu li a{
		font-size: 0.8em;
	}
}
@media(max-width:767px) {
	body{
		margin-top: 0;
	}
}
