<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de monitoramento de metas</title>

	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<link href="/static/lightbox/css/lightbox.css" rel="stylesheet" />
    <!-- Custom Theme CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="favicon.png" />
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
			<div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
				<a href="#home" class="navbar-brand"><img src="/static/css/images/logo-header.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="metas">Metas</a>
                    </li>
                    <li>
                        <a href="regions">Regiões</a>
                    </li>
                    <li>
                        <a href="campaigns">Campanhas</a>
                    </li>
                    <li>
                        <a href="managements">Gestões</a>
                    </li>
                    <li class="highlight">
                        <a href="login">Entrar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="metas-detail">
		<div class="container">

			<h3 class="dotted">Projetos seguidos por Nome da Pessoa</h3>
			<div class="item row">
				<div class="col-sm-2 nopadding">
					<div class="image pull-left"><img src="/static/css/images/meta01.jpg" border="0"></div>
				</div>
				<div class="col-sm-10 nopadding">
					<div class="contents pull-left">
						<div class="description">
							<h2><a href="">Ampliar em 20 mil o número de matrículas na Educação de Jovens e Adultos e implantar 3 novos Centros Integrados (CIEJA)</h2>
							Tecnologia e inovação, Saúde e Meio Ambiente</a>
							<div class="stats">
								<div class="icon gps"></div> São Mateus, Pirituba e São Miguel
								<div class="icon eye"></div> <span class="organizations">3</span> organizações acompanham
								<button class="btn btn-white">Parar de seguir</button>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="item row">
				<div class="col-sm-2 nopadding">
					<div class="image pull-left"><img src="/static/css/images/meta02.jpg" border="0"></div>
				</div>
				<div class="col-sm-10 nopadding">
					<div class="contents pull-left">
						<div class="description">
							<h2><a href="">Requalificar a infraestrutura e os espaços públicos do Centro.</h2>
							Tecnologia e inovação, Saúde e Meio Ambiente</a>
							<div class="stats">
								<div class="icon gps"></div> São Mateus, Pirituba e São Miguel
								<div class="icon eye"></div> <span class="organizations">3</span> organizações acompanham
								<button class="btn btn-white">Parar de seguir</button>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="item row">
				<div class="col-sm-12 nopadding">
					<div class="contents pull-left">
						<div class="description">
							<h2>Formalizar aproximadamente 22.500 microempreendedores individuais.</h2>
							Tecnologia e inovação, Saúde e Meio Ambiente
							<div class="stats">
								<div class="icon gps"></div> São Mateus, Pirituba e São Miguel
								<div class="icon eye"></div> <span class="organizations">3</span> organizações acompanham
								<button class="btn btn-white">Parar de seguir</button>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="item row">
				<div class="col-sm-2 nopadding">
					<div class="image pull-left"><img src="/static/css/images/meta01.jpg" border="0"></div>
				</div>
				<div class="col-sm-10 nopadding">
					<div class="contents pull-left">
						<div class="description">
							<h2>Ampliar em 20 mil o número de matrículas na Educação de Jovens e Adultos e implantar 3 novos Centros Integrados (CIEJA)</h2>
							Tecnologia e inovação, Saúde e Meio Ambiente
							<div class="stats">
								<div class="icon gps"></div> São Mateus, Pirituba e São Miguel
								<div class="icon eye"></div> <span class="organizations">3</span> organizações acompanham
								<button class="btn btn-white">Parar de seguir</button>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
    </section>

	<footer>
		<div class="menu">
			<div class="container">
				<ul class="menu-footer">
					<li>
						<a href="#">Sobre</a>
					</li>
					<li>
						<a href="#">Perguntas Frequentes</a>
					</li>
					<li>
						<a href="#">Contato</a>
					</li>
					<li>
						<a href="#">Cadastro</a>
					</li>
					<li>
						<a href="#">Entrar</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="text-center">
				<img src="/static/css/images/logo-footer.png" border="0" class="logo-footer">
			</div>
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/static/lightbox/js/lightbox.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/site.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/chart.js"></script>

</body>

</html>
