.tidyall.d/
.tidyallrc
dbi_dump*
web/root/static/images/user/
web/root/static/docs
web/root/static/built
web/root/static/images/project/
web/root/static/images/campaign/
web/root/static/images/organization/
web/session_data/
web/session_data/*
web/websmm_local.conf
api/smm_local.conf
**/blib/**