<div class="page-header bg-dark">
	<h3>Cadastro realizado com sucesso!</h3>
	<p>Verifique seu email para validar sua conta<p>
</div>
<div class="row page-content">
    <p><strong>Parabéns!</strong>
	<br /><br />
	Agora você receberá um email para validar a sua conta.<br />
	Siga as instruções contidas no email para completar o cadastro dos seus dados.</p>
	<br />
	<a href="/" class="btn btn-success">Voltar à página inicial</a>
</div>
