<div>
	<div class="rows">
	<h2 class="sub-header">Adicionar partido político</h2>
	<form role="form" method="post" class="form-horizontal" action="/admin/form/political_party">
		[%input_text('name','Nome', req=>1)|none%]
		[%input_text('acronym','Sigla', req=>1)|none%]
		[%input_text('party_number','Legenda', req=>1)|none%]
		<input type="hidden" value="1" name="status"></input>
	<button type="submit" class="btn btn-success pull-right">Salvar</button>
	</form>
	</div>
</div>