[%-CALL assets.include("js/forms.js")%]
[%#-CALL assets.include("js/address.js")#%]
<div>
	<div class="rows">
	<h2 class="sub-header">Editar Objetivo</h2>
		<form role="form" method="post" class="form-horizontal" action="[% c.uri_for_action('/admin/form/objective/process_edit',[ objective_obj.id ]) %]">
			
			[%input_text('name','Nome', req=>1, value=objective_obj.name)|none%]
		
			<button type="submit" class="btn btn-success pull-right">Salvar</button>
		</form>
	</div>
</div>
