[%-CALL assets.include("js/forms.js")%]
<div>
	<div class="rows">
	<h2 class="sub-header">Adicionar categoria</h2>
	<form role="form" method="post" class="form-horizontal" action="/admin/form/category">
		[%input_text('name','Nome', req=>1)|none%]
	<button type="submit" class="btn btn-success pull-right">Salvar</button>
	</form>
	</div>
</div>