<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<link rel="icon"
      type="image/png"
      href="/static/img/favico.png" />
<meta charset="UTF-8">
<link rel="canonical" href="http://2013.deolhonasmetas.org.br[%c.req.uri.path_query%]">
<title>Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script> TODO: baixar esse cara
<![endif]-->

<link rel="stylesheet" href="http://0.0.0.0:3000/static/css/bootstrap.min.css" type="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script>
function goBack()
  {
  window.history.back()
  }
</script>
<div class="container">
    <div class="masthead">
    <h3 class="muted">[%c.config.name%]</h3>
    <div class="navbar">
        <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
            <li><a href="/" onclick="goBack()">Voltar para página anterior</a></li>
            <li><a href="/">Ir para página inicial</a></li>

            </ul>
        </div>
    </div>
</div>
</div>
[%IF error_code == 403%]
<div class="alert alert-error">
<h1>Permissões insuficientes!</h1>
</div>

[%ELSE%]

<div class="jumbotron">
<div class="alert alert-error">
<h1>Erro interno!</h1>
</div>
<p>Aconteceu um erro e não é sua culpa. Esse erro pode ser temporario ou mais grave.</p>
<p>Pedimos para você tentar fazer novamente o que você estava fazendo.</p>
<p>Informações sobre o erro:</p>
[%error%]
[%END%]

[%IF c.debug%]
<pre>
[%error_url%]
[%error_content%]
</pre>
[%END%]
</div>

    <hr>
</div> <!-- /container -->

</body>
</html>
