<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<link rel="icon"
      type="image/png"
      href="/static/img/favicon.png" />
<meta charset="UTF-8">
<title>[% template.title or site.title or title or 'De Olho nas Metas' %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
<![endif]-->

[%-CALL assets.include("css/bootstrap.min.css")%]
[%-CALL assets.include("css/dashboard.css")%]
[%-CALL assets.include("css/admin.css")%]
[%-CALL assets.include("js/bootstrap.min.js")%]
[%-CALL assets.include("js/jquery.maskedinput.js")%]
[%-CALL assets.include("js/jquery.maskMoney.js")%]
[%-CALL assets.include("js/admin.js")%]

[%- assets.export("css") |none-%]

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="admin"><script>var actions=[];</script>

[%INCLUDE parts/admin_user_menu.tt%]

<div class="container-fluid content-container">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar col-xs-12">
            [%INCLUDE parts/admin_side_menu.tt%]
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        [%IF error_msg %]<div class="alert alert-error"><p>[%error_msg%]</p></div>[%END%]
        [%IF status_msg %]<div class="alert alert-success"><p>[%status_msg%]</p></div>[%END%]

        [%content|none%]
        </div>

    </div>
    <footer class="bs-footer" role="contentinfo">
        <div class="text-right">
            <a href="http://www.appcivico.com/?ref=donm" target="_blank"><img src="/static/css/images/appcivico-hosting2.png" border="0" class="logo-footer-admin"></a>
        </div>
    </footer>

</div> <!-- /container -->
<div class="clear"></div>

[% assets.export("js")|none %]

</body>
</html>
