<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<link rel="icon"
      type="image/png"
      href="/static/img/favicon.png" />
<meta charset="UTF-8">
<link rel="canonical" href="http://2013.deolhonasmetas.org.br[%c.req.uri.path_query%]">
<title>[% template.title or site.title or title or 'De Olho nas Metas' %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
<![endif]-->
<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>-->

[%-CALL assets.include("css/bootstrap.min.css")%]
[%-CALL assets.include("css/bootstrap-timepicker.min.css")%]
[%-CALL assets.include("css/bootstrap.template.css")%]
[%-CALL assets.include("css/font-awesome.min.css")%]
[%-CALL assets.include("css/system.css")%]
[%-CALL assets.include("css/user.css")%]
[%-CALL assets.include("css/site.css")%]

[%-CALL assets.include("js/bootstrap.min.js")%]
[%-CALL assets.include("js/bootstrap-timepicker.min.js")%]
[%-CALL assets.include("js/jquery.maskedinput.js")%]
[%-CALL assets.include("js/user.js")%]
[%-CALL assets.include("js/forms.js")%]
[%-CALL assets.include("js/address.js")%]

[%- assets.export("css") |none-%]

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="[% body_class %]"><script>var actions=[];</script>

<div class="container">
    [%INCLUDE parts/user_menu.tt%]

	<div class="divider"></div>

    <div class="row">
		<div class="span3">
			[%INCLUDE parts/user_side_menu.tt%]
		</div>
		<div class="span9">
		[%IF error_msg %]
			<div class="row page-content">
				<div class="alert alert-error"><p>[%error_msg%]</p></div>
			</div>
		[%END%]
		[%IF status_msg %]
			<div class="alert"><p>[%status_msg%]</p></div>
		[%END%]

		[%content|none%]
		</div>
    </div>

</div> <!-- /container -->

<div class="footer bg-dark">
	<div class="container">
		<ul class="menu-footer">
			<li class="title">Sócios</li>
			[%IF !c.user%]
				<li class="item"><a href="/pre-cadastro">Cadastro</a></li>
				<li class="item"><a href="/login">Login</a></li>
			[%ELSE%]
				<li class="item"><a href="[%c.uri_for_action("/$role_controller/dashboard/index")%]">Meu Perfil</a></li>
				<li class="item"><a href="/logout">Sair</a></li>
			[%END%]
		</ul>
		<ul class="menu-footer">
			<li class="title">Saiba mais</li>
			<li class="item"><a href="/sobre">Sobre</a></li>
			<li class="item"><a href="/faq">Perguntas Frequentes</a></li>
			<li class="item"><a href="/contato">Contato</a></li>
		</ul>
		<p class="copy">&copy; Publicidade Inteligente 2014. Todos os direitos reservados.</p>
	</div>
</div>
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>

[% assets.export("js")|none %]


</body>
</html>
