<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<link rel="icon"
      type="image/png"
      href="/static/img/favicon.png" />
<meta charset="UTF-8">
<title>[% template.title or site.title or title or 'Publicidade Inteligente' %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
<![endif]-->

[%-CALL assets.include("css/bootstrap.min.css")%]
[%-CALL assets.include("css/bootstrap-timepicker.min.css")%]
[%-CALL assets.include("css/system.css")%]


[%-CALL assets.include("js/bootstrap.min.js")%]
[%-CALL assets.include("js/bootstrap-timepicker.min.js")%]
[%-CALL assets.include("js/jquery.maskedinput.js")%]
[%-CALL assets.include("js/user.js")%]

[%- assets.export("css") |none-%]

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="admin"><script>var actions=[];</script>

<div class="container content-container">
    [%INCLUDE parts/admin_user_menu.tt%]

    <div class="row">

        <div class="span2">
            [%INCLUDE parts/admin_side_menu.tt%]
        </div>
        <div class="span10">

        [%IF error_msg %]<div class="alert alert-error"><p>[%error_msg%]</p></div>[%END%]
        [%IF status_msg %]<div class="alert"><p>[%status_msg%]</p></div>[%END%]

        [%content|none%]
        </div>

    </div>

</div> <!-- /container -->
<div class="clear"></div>
<footer>
	<div class="container">
		© Publicidade Inteligente 2014. Todos os direitos reservados.
	</div>
</footer>

<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
[% assets.export("js")|none %]

</body>
</html>